@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin mQ($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
  }